<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container">
    <%= link_to image_tag("IMG_logo.JPG",:size =>'180x40'), root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <%# customerサインイン済み %>
          <span class="navbar-text">
            ようこそ、<%= current_customer.last_name %>さん！
          </span>
          <li class="nav-item">
            <%= link_to "マイページ", customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "カート", cart_products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <%# customerサインイン前 %>
          <li class="nav-item">
            <%= link_to "About", homes_about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>