<h4>配送先　追加・一覧</h4>
<p>配送先追加</p>
  <%= form_with model: @shipping, url: shippings_path, local:true do |f|%>
  <%= f.text_field :postcode, placeholder: "郵便番号" %>
  <%= f.text_field :address, placeholder: "住所" %>
  <%= f.text_field :name, placeholder: "宛名" %>
  <%= f.submit %>
  <% end %>

<div class="container px-5 px-sm-0">
      <div class="row m-5">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-7">
      <% @shippings.each do |shipping| %>
      <p>郵便番号<%= shipping.postcode %></p>
      <p>住所<%= shipping.address %></p>
      <p>宛名<%= shipping.name %></p>
      <% end %>
    </div>
  </div>
  