<div class="container px-5 px-sm-0">
  <div class="row">
      <h3>注文履歴詳細</h3>
　</div>
  <div class="row m-5 p-5">
      <table>
        <thead>
          <tr>
            <td> 購入者</td>
            <td></td>
            <td><%= @order.customer.name %></td>
          <tr>
            
            <td>注文日</td>
            <td></td>
            <td><%= @order.created_at %></td>
          </tr>
          
          <tr>
            <td>配送先</td>
            <td></td>
            <td><%= @order.customer.address %></td>
          </tr>
          
          <tr>
            <td>支払方法</td>
            <td></td>
            <td><%= @order.payment_method %></td>
          </tr>
          
          <tr>
            <td>販売ステータス</td>
            <td></td>
            <td><%= @order.order_status %></td>
            <td>更新ボタン</td>
          </tr>
        </thead>
      </table>
  </div>

  <div class="row">
    
    <div class="col-md-8"></div>
      <table class="table table-hover table-invers">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.product.name %></td>
                <td><%= order.product.add_tax_price.to_s(:dalimited) %></td>
                <td><%= order.product.count %></td>
                <td><%= order.product.price*cart_product.quantity %></td>
                <td>注文ステータス</td>
                <td>更新ボタン</td>
              </tr>
            <% end %>
          </tbody>
        </table>
    
    <div class="col-md-4">
      <table>
        <thead>
          <tr>
            <td>商品合計</td>
            <td></td>
          </tr>
          <tr>
            <td>送料</td>
            <td>800円</td>
          </tr>
          <tr>
            <td>請求合計金額</td>
            <td></td>
          </tr>
        </thead>
      </table>
    </div>
    
    
  </div>

  </div>
</div>
  
