<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h2 class="col-lg-9">
        注文履歴詳細
      </h2>
        
      <table class="row m-5 p-5">
        <tr>
          <td> 購入者</td>
          <td></td>
          <td><%= @order.customer.last_name + @order.customer.first_name %></td>
        <tr>
          
          <td>注文日</td>
          <td></td>
          <td><%= @order.created_at %></td>
        </tr>
        
        <tr>
          <td>配送先</td>
          <td></td>
          <td><%= @order.customer.address %></td>
        </tr>
        
        <tr>
          <td>支払方法</td>
          <td></td>
          <td><%= @order.payment_method %></td>
        </tr>
        
        <tr>
          <td>注文ステータス</td>
          <td>
            <%= form_with model: [:admin, @order], local:true, class: "form-inline" do |f| %>
              <%= f.select :order_status, @order.class.order_statuses.keys,  {}, {class: "custom-select mb-2 mr-sm-2"} %>
              <%= f.submit "更新", class: "btn btn-success mb-2" %>
            <% end %></td>
        </tr>
      </table>
    </div>
  </div>  

  <div class="row align-items-end">
    <div class="col-lg-9">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th class="text-right">単価(税込)</th>
            <th class="text-right">数量</th>
            <th class="text-right">小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.product.name %></td>
              <td class="text-right"><%= order_detail.tax_included_price %></td>
              <td class="text-right"><%= order_detail.quantity %></td>
              <td class="text-right"><%= (order_detail.tax_included_price * order_detail.quantity) %></td>
              <td>
                <%= form_with model: [:admin, order_detail], local:true, class: "form-inline" do |f| %>
                  <%= f.select :making_status, order_detail.class.making_statuses.keys,  {}, {class: "custom-select mb-2 mr-sm-2"} %>
                  <%= f.submit "更新", class: "btn btn-success mb-2" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="ml-auto col-sm-6 col-lg-3">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td class="text-right"><%= (@order.total_price - @order.shipping_fee).to_s(:delimited) %> 円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td class="text-right"><%= @order.shipping_fee.to_s(:delimited) %> 円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td class="text-right"><%= @order.total_price.to_s(:delimited) %> 円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
  
