<div class="container px-5 px-sm-0">

  <div class="row m-5">
    <h4>ジャンル追加・一覧</h4>
  </div>

  <div class="row-5 mt-5 mb-5">
    <div class="col-7">
      <%= form_with model: @genre, url: admin_genres_path, local:true do |f|%>
      <%= f.label "ジャンル名", class: "col-md-4 col-form-label" %>
      <%= f.text_field :name ,placeholder: "ジャンル名" %>
      <%= f.submit '新規登録', class:"btn btn-success"%>
      <% end %>
    </div>
    <div class="col-5"></div>
  </div>

  <div class="row ml-2">
    <div class="col-5">
      <table  class="table table-hover table-invers">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @genres.each do |genre| %>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-7"></div>
  </div>

</div>