<h3>注文履歴一覧</h3>
<table border="1">
  <tr>
    <td>注文日</td>
    <td>配送先</td>
    <td>注文商品</td>
    <td>支払金額</td>
    <td>ステータス</td>
    <td>注文詳細</td>
    <td></td>
  </tr>
  <tr>
    <% @orders.each do |f| %>
    <td>画像：<%= f.created_at.strftime('%Y/%m/%d') %></td>
    <td>〒<%= f.postcode %><%= f.address %></td>
    <td><%= f.name %></td>
    <td><%= f.total_price %>円</td>
    <td><%= f.order_status %></td>
    <td><%= link_to"注文詳細", public_order_path(order.id) %></td>
  </tr>
  <% end %>
</table>