<div class="container px-5 px-sm-0">
    <div class="row m-5">
        <h4 class="font-weight-normal">注文履歴一覧</h4>
        <table class="table table-hover table-invers">
          <thead>
        <div class="notice text-danger">
        <% if @notice %>
          <%= @notice %>
        <% end %>
            <tr>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>支払金額</td>
    <td>注文ステータス</td>
    <td></td>
  </tr>
  <tr>
    <% @orders.each do |order| %>
    <td>画像：<%= order.created_at.strftime('%Y/%m/%d') %></td>
    <td>〒<%= order.postcode %><%= order.address %></td>
    <td><%= order.order_detail.product.name %></td>
    <td><%= order.total_price %></td>
    <td><%= order.order_status %></td>
    <td><%= link_to"注文詳細", public_order_path(order.id) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
   <div class="pagination justify-content-center">
          <%#= paginate @order %>
   </div>
      </div>
   </div>
</div>
