<header>
    <nav class="nav navbar navbar-left title">
      <% if admin_sign_in? %>
      <%= link_to "NaganoCake", admin_root_path %>
      <% else %>
      <%= link_to "NaganoCake", public_root_path %>
      <% end %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <!--カスタマーがログインしている時-->
          <li class="header-name">
            ようこそ、<%= full_name(current_customer) %>さん！
          </li>
          <li><%= link_to "マイページ", public_users_path(current_customer) %></li>
          <li><%= link_to "商品一覧", public_products_path %></li>
          <li><%= link_to "カート", public_cart_products_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

        <% elsif admin_signed_in? %>
        <!--管理者がログインしている時-->
          <li><%= link_to "商品一覧", admin_products_path %></li>
          <li><%= link_to "会員一覧", admin_customers_path %></li>
          <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
          <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

        <% else %>
        <!--ログインしていない時-->
          <li><%= link_to "About", public_homes_about_path %></li>
          <li><%= link_to "商品一覧", public_products_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>