<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD
  <body class="min-vh-100 d-flex flex-column">
    <header class="mb-4">
      <% if controller.class.parent.name == "Admin" %>
        <%# Admin側のヘッダー %>
        <%= render "admins/shared/header" %>
      <% else %>
        <%# Public側のヘッダー %>
        <%= render "public/shared/header" %>
      <% end %>
    </header>
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <footer class="mt-4">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
=======
  <body>
    <%= yield %>
  </body>
</html>
>>>>>>> 8affcfd854fc6bc220b8b745150afb732a40f124
